{% extends "base_generic.html" %} {% load static%} {% block content %}
<div style="background-color:#ededed;">
    <div></div>
    <div class="project-image" style="background-image:url({%static '/img/IKOYI-3.jpg'%});
    margin-top:5em;
    height:480px;
    text-align:center;
    background-size:cover;
    background-repeat:no-repeat;
    align-content:center;
    ">
        <div class="text-box">
            <h1 class="bottom-left">
                The {{staff.position}}
            </h1>
        </div>
    </div>
    <div class="breadcrum">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a><span>Home</span></a></li>
            <li class="breadcrumb-item"><a><span>Library</span></a></li>
            <li class="breadcrumb-item"><a><span>Data</span></a></li>
        </ol>
    </div>
    <div class="home-service" style="background-color:#fff; padding-top: 1.625em">
        <div class="container service-container">
            <div class="row">

                <ol class="col-md-2" style="list-style-type: none; padding: 0; margin:0">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'about-us'%}"><strong>ABOUT US</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><strong>CASE STUDIES</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'projects'%}"><strong>PROJECTS</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'services'%}"><strong>OUR SERVICES</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about-us'%}"><strong>OUR TEAM</strong></a></li>

                </ol>
                <div class="col-md-3 project-summary">
                    <img class="img-fluid" src="{{staff.staff_passport.url}}" />
                    <p><strong>{{staff.position}}</strong><br /><small>BSc, B Eng., Masters</small></p>
                </div>
                <div class="col-md-7">

                    <p>
                        Project Plus Potentials is a Lagos Nigerian based Building Construction, Civil Engineering and Project Management Company that specializes in all Building Construction, Civil Engineering and Project Management Works.<br /><br />Over
                        the years, we have emerged to be a formidable and enviable construction firm in the Nigeria property development and real estate sphere.<br /><br />Through its productive journey of eight years, the company has relentlessly grown
                        to be committed to meeting and satisfying one of the most fundamental desires on the hierarchy of human needs<br /><br />
                    </p>
                </div>

            </div>
        </div>
    </div>
    {% comment %}
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Our Leadership</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="desk.jpg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5">
                            <a href="#">
                                <img class="img-fluid" src="building.jpg" />
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="loft.jpg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="minibus.jpeg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
    <div class="home-service-row" >
        <div class="container service-container">
            <div class="row">
                <div class="col-md-12">
                    <h2><strong>Services</strong></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Project Plus Potentials is a Lagos Nigerian based Building Construction, Civil Engineering and Project Management Company that specializes in all Building Construction, Civil Engineering and Project Management Works. <br> <br>Over
                        the years, we have emerged to be a formidable and enviable construction firm in the Nigeria property development and real estate sphere. <br> <br>Through its productive journey of eight years, the company has relentlessly grown
                        to be committed to meeting and satisfying one of the most fundamental desires on the hierarchy of human needs</p>
                </div>
                <div class="col-md-6 service-images">
                    <a href="#" data-bs-hover-animate="pulse">
                        <div style="background-image:url({%static '/img/home page services.jpg' %}); ">
                            <p style="color:rgb(141,198,255); ">Building Construction</p>
                        </div>
                    </a>
                    <a href="#" data-bs-hover-animate="pulse">
                        <div style="background-image:url({% static '/img/home services.jpg'%});">
                            <p style="color:rgb(141,198,255);background-color:rgba(132,125,125,0.8);">Building Construction</p>
                        </div>
                    </a>
                    <a href="#" data-bs-hover-animate="pulse">
                        <div style="background-image:url({% static '/img/home page sevices.jpg'%});">
                            <p style="color:rgb(141,198,255);">Building Construction</p>
                        </div>
                    </a>
                    <a href="#" data-bs-hover-animate="pulse">
                        <div style="background-image:url({% static '/img/home/hp-recent-graduates-img home.jpg' %});">
                            <p style="color:rgb(141,198,255);">Building Construction</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
