{% extends "base_generic.html" %}

{% load static%}

{% block page_title %}<title> About Us | {{block.super}} </title>{% endblock %}

{% block meta_description %}
<meta name="description" content="
Our vision is to produce independent, high-class engineers in our field of
engineering as well as world-class engineering services in our
core area of services."/>
{% endblock %}



{% block carousel %}

<div class="main-image" style= "background-image:url({%static '/img/teamPic.png'%});">
    <div class="carousel-caption">
        <span class="animated bounce"></span>
        <div class="box animated fadeIn" style="animation-delay: 1s">
            <h2 class="animated bounceInRight" style="animation-delay: 1s">
            About Us
            </h2>
        </div>
    </div>
</div>
{% endblock %}


{% load django_bootstrap_breadcrumbs %}

    <div class='breadcrumbs'>
    {% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Our Team" "about-us" %}
    {% endblock %}
    {% block conten %}
    {% render_breadcrumbs %}
    {% endblock %}
    </div>


{% block content %}
<section style="background-color: #e9ecef; background-blend-mode: color;">
        <div class="container service-container" data-aos="fade-right">
            <div class="row">

                {% block sidebar %}
                    {{ block.super }}
                {% endblock %}

                <div class="col-md-9">
                    <h2 class="text-center main-text"><strong>About Us</strong></h2>
                    <p>
                        <strong>Project + potential</strong> is an engineering consultancy firm
                        established in February 2003 and registered by the corporate affairs
                        commission in Nigeria.
                        <br />
                        <br />
                        We were fully registered as an engineering consulting firm by the Council
                        For Regulation Of Engineering In Nigeria (COREN) in November 2005 with registration
                        no. EF00355. And also registered with the Association of Consulting Engineering in Nigeria
                        (ACEN) in January 2014 with membership no. F287.
                        <br />
                        <br />
                        Our vision is to produce independent and high-class engineers in our field
                        of engineering and also provide world-class engineering services in our
                        core area of services.
                        <br />
                        <br />
                        <strong>Project + potential</strong> was established to provide
                        quality-engineering services as follows:
                        <ul>
                            <li> Engineering Consultancy Services</li>
                            <li> Civil/structural engineering services.</li>
                            <li> Mechanical & electrical engineering services.</li>
                            <li> Project/Construction Management.</li>
                            <li> Engineering Procurement.</li>
                        </ul>
                        We engage qualified engineers as staff and also partner with other
                        professionals in the execution of projects.<br />

                        In order to provide quality services, we work with all relevant
                        codes of practice and run a completely computerized outfit equipped
                        with state of the software (Orion, Robot, cad RC, civil 3D, Prota Structure e.t.c)
                         and a well furnished library. We also have links with institutions locally
                         and internationally via the internet for technical support.

                    </p>

                </div>
            </div>
        </div>
</section>
<section style="background-color: white;">
    <div class="container projects-horizontal stafflist" data-aos="fade-up">
        <div class="intro">
            <h2 class="text-center" id='team'>Our Team</h2>

        </div>
        <div class="row projects">
            {% for dept in departments %}
            <h3 class='dept-title'>{{dept}}</h3>
            {% for staff in staff_list %}
            {% if staff.department == dept %}

            <div class="col-sm-6 item ">
                <div class="row " style="margin-bottom: 1.625em">
                    <div class="col-md-12 col-lg-5 staff" data-bs-hover-animate="pulse">
                        <a href="{{staff.get_absolute_url}}">
                            <img class="img-fluid" src="{{staff.staff_passport.url}}" />
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{staff.get_absolute_url}}" style="color:#000">
                            <h3 class="name" data-bs-hover-animate="pulse">
                                {{staff.name}}
                            </h3>
                        </a>

                        <p class="description" style="background-color: white">
                            {{staff.position}}
                            <br />
                            <small>{{staff.qualification}}</small>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
