{% extends "base_generic.html" %} {% load static%}
 {% block carousel %}
 <div class="main-image" style="background-image:url({%static '/img/teamPic.png'%});">


     <div class="carousel-caption">
         <span class="animated bounce"></span>
         <div class="box animated fadeIn" style="animation-delay: 1s">
             <h2 class="animated bounceInRight" style="animation-delay: 1s">
                 Meet <br />{{staff.name}}
             </h2>
         </div>
 </div>

 {% endblock %}
{% load django_bootstrap_breadcrumbs %}
<div class='breadcrumbs'>


    {% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Our Team" "about-us" %}
    {% breadcrumb staff.name staff.get_absolute_url %}
    {% endblock %}
    {% block conten %}
    {% render_breadcrumbs %}
    {% endblock %}
</div>

 {% block content %}
<div  class="home-service-row" style="background-color:#ededed;">
        <div class="container service-container">
            <div class="row" style="margin-top: 1.25em;">

                <ol class="col-md-2 side-menu">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'about-us'%}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'projects'%}">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'services'%}">Our Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about-us'%}">Our Team</a></li>
                </ol>
                <div class="col-md-3 project-summary">
                    <img class="img-fluid" src="{{staff.staff_passport.url}}" />
                    <p><strong>{{staff.position}}</strong><br /><small>{{staff.qualification}}</small></p>
                </div>
                <div class="col-md-7">

                    <p style="font-size: 0; line-height: 0;">
                        {{staff.cv | safe }}
                    </p>
                </div>

            </div>
        </div>

    {% comment %}
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Our Leadership</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="desk.jpg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5">
                            <a href="#">
                                <img class="img-fluid" src="building.jpg" />
                            </a>
                        </div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="loft.jpg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="minibus.jpeg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

</div>
    {% comment %}
        <div class="container service-snippet">
            <div class="row">
                <div class="col-md-12">
                    <h2><strong>Services</strong></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Project + potential</strong> was established to provide
                        quality-engineering services as follows:
                        <ul style="">
                            <li> Civil/structural engineering services.</li>
                            <li> Mechanical & electrical engineering services.</li>
                            <li> Project/Construction Management.</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-6 service-images">

                    <a href="#" data-bs-hover-animate="pulse">
                        <div style="background-image:url({% static '/img/home services.jpg'%});">
                            <p style="color:rgb(141,198,255);background-color:rgba(132,125,125,0.8);">Civil/ Structural Engineering Services.</p>
                        </div>
                    </a>
                    <a href="#" data-bs-hover-animate="pulse">
                        <div style="background-image:url({% static '/img/home page sevices.jpg'%});">
                            <p style="color:rgb(141,198,255);background-color:rgba(132,125,125,0.8)">Mechanical & Electrical Engineering Services.</p>
                        </div>
                    </a>
                    <a href="#" data-bs-hover-animate="pulse">
                        <div style="background-image:url({% static '/img/home/hp-recent-graduates-img home.jpg' %});">
                            <p style="color:rgb(141,198,255);background-color:rgba(132,125,125,0.8)">Project/ Construction Management.</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        {% endcomment %}
            <!-- <div class="row">
                <div class="col-md-6">
                    <p>Project Plus Potentials is a Lagos Nigerian based Building Construction, Civil Engineering and Project Management Company that specializes in all Building Construction, Civil Engineering and Project Management Works. <br> <br>Over the
                        years, we have emerged to be a formidable and enviable construction firm in the Nigeria property development and real estate sphere. <br> <br>Through its productive journey of eight years, the company has relentlessly grown to be committed
                        to meeting and satisfying one of the most fundamental desires on the hierarchy of human needs</p>
                </div>
                <div class="col-md-6 service-images">
                    {% for service in services %}
                    <a href="{{service.get_absolute_url}}" data-bs-hover-animate="pulse">
                        <div style="background-image:url({{service.service_image1.url}});">
                            <p style="color:rgb(141,198,255); background-color: rgba(137,146,231,0.6);">
                                <strong>{{service.service_title}}</strong>
                            </p>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div> -->




    {% endblock %}
