{% extends "base_generic.html" %}

{% load staticfiles %}
{% load static %}

{% block content %}


{% if project %}
<div class="project-image" style=
"background-image:url({%static '/img/home/Home slide.jpg'%});
margin-top:5em;
height:480px;
text-align:center;
background-size:cover;
background-repeat:no-repeat;
align-content:center;
">
{% endif %}

{% if service %}
<div class="project-image" style=
"background-image:url({{service.service_image1.url}});
margin-top:5em;
height:480px;
text-align:center;
background-size:cover;
background-repeat:no-repeat;
align-content:center;
">
{% endif %}
        <div class="text-box">

            <h1 class='bottom-left'>
                {%if project %}{{project.title}} {% endif %}
                {{service.service_title}}
            </h1>
        </div>
    </div>
    <div class="breadcrum">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a><span>Home</span></a></li>
            <li class="breadcrumb-item"><a><span>Library</span></a></li>
            <li class="breadcrumb-item"><a><span>Data</span></a></li>
        </ol>
    </div>
    <div class="description">
        <div class="container">
            <div class="row">

                <ol class="col-md-2" style="list-style-type: none; padding: 0; margin:0">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'about-us'%}"><strong>ABOUT US</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><strong>CASE STUDIES</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'projects'%}"><strong>PROJECTS</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'services'%}"><strong>OUR SERVICES</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about-us'%}"><strong>OUR TEAM</strong></a></li>

                </ol>

                <div class="col-md-7">
                    {% if project %}
                    <h1>{{project.title}}</h1>
                    <p>{{project.project_article}}</div>
                    {% endif %}

                    {% if service %}
                    <h1>{{service.service_title}}</h1>
                    <p>{{service.service_article}}</div>
                    {% endif %}
                    {% comment %}
                <div class="col-md-3 project-summary">
                    <ul>
                        <li>{{project.client}}</li>
                        <li> {{project.location}}</li>
                        <li>  {{project.date}} </li>
                    </ul>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>
    {% if project %}
<div class="row justify-content-center">

    <div class="col-md-8">
        <div class="row">
            <a href="{{project.project_image1.url}}"  data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="{{project.project_image1.url}}" class="img-fluid img-thumbnail">
            </a>
            <a href="{{project.project_image2.url}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="{{project.project_image2.url}}" class="img-fluid img-thumbnail">
            </a>
            <a href="{{project.project_image3.url}}"  data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="{{project.project_image3.url}}" class="img-fluid img-thumbnail">
            </a>
        </div>
        <div class="row">
            <a href="{{project.project_image4.url}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="{{project.project_image4.url}}" class="img-fluid">
            </a>
            <a href="{{project.project_image5.url}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="{{project.project_image5.url}}" class="img-fluid">
            </a>
            <a href="{{project.project_image6.url}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="{{project.project_image6.url}}" class="img-fluid">
            </a>
        </div>
    </div>
</div>
{% endif %}
</div>




<!--
  <h1>Title: {{ project.title }}</h1> -->

  <!--<p><strong>Project:</strong> <a href="">{{ project.title }} </a></p> --><!-- author detail link not yet defined -->
  <!-- <p><strong>Summary:</strong> {{ project.summary }}</p>
  <p><strong>Client:</strong> {{ project.client }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p> -->
  <!--<p><strong>Genre:</strong>
      {% for genre in book.genre.all %}
      {{ genre }}
      {% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>-->
{% endblock %}
