{% extends "base_generic.html" %}
{% load staticfiles %}
{% load static %}

{% load websiteapp_extras %}
{% load mycounter %}

{% block page_title %}
<title>{% if project %}{{project.title}} {% elif service %} {{sevice.service_title}}  {% endif %} | {{block.super}}
</title>{% endblock %}

{% block meta_description %}
{% if project %}
<meta name="description" content="{{project.summary |truncatechars:156}}"/>
{% elif service %}
<meta name="description" content="{{service.service_title}}"/>
{% endif %}
{% endblock %}


{% block carousel %}

{% if project %}
<div class="main-image" {% if project.projectimage_set.all %}style="background-image:url({{project.projectimage_set.all.0.image.url}});" {% else %} style="background-image:url({% static '/img/teamPic.png' %});"{% endif %} >
{% endif %}
{% if service %}
    <div class="main-image" style="background-image:url({{service.service_image1.url}});">
        {% endif %}

        <div class="carousel-caption">
            <span class="animated bounce"></span>
            <div class="box animated fadeIn" style="animation-delay: 1s">
                <h2 class="animated bounceInRight" style="animation-delay: 1s">
                    {%if project %}{{project.title}} {% endif %}
                    {% if service %}{{service.service_title}} {% endif %}
                </h2>
            </div>

        </div>
    </div>
{% endblock %}


{% load django_bootstrap_breadcrumbs %}


<div class='breadcrumbs'>
{% block breadcrumbs %}
    {{ block.super }}
    {% if project %}
    {% breadcrumb "Projects" "projects" %}
    {% breadcrumb project.title project.get_absolute_url %}
    {% endif %}

    {% if service %}{% breadcrumb "Services" "services" %} {% endif %}
    {% if service %}{% breadcrumb service.service_title service.get_absolute_url %}{% endif %}
{% endblock %}
{% block conten %}
    {% render_breadcrumbs %}
{% endblock %}
</div>

{% block content %}



    <div class="description">
        <div class="container">
            <div class="row" >
                {% comment %}
                {% block sidebar %}
                    {{ block.super }}
                {% endblock %}

                {% endcomment %}

                <div {% if project %}class="col-md-9 article"{% endif %} >
                    {% if project %}






                    <h1>{{project.title}}</h1>
                    <div >
                        <p >{{project.project_article | safe}}</p>
                    </div>


                    {% if project %}



                    <div class="row lightbox-row">
                        {% for image in project_images1 %} {% if image %}
                        <a href="{{image.image.url}}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 lightbox">
                              <img src="{{image.image.url}}" class="img-fluid rounded"/>
                          </a> {% endif %} {% endfor %}
                    </div>

                    <div class="row lightbox-row">
                        {% for image in project.projectimage_set.all %} {% if image %}
                        <a href="{{image.image.url}}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4 lightbox">
                              <img src="{{image.image.url}}" class="img-fluid rounded"/>
                          </a> {% endif %} {% endfor %}
                    </div>

                    <div id="topProjects">


                    <div>
                        <div   style="width:100%; background-color: blue; margin-bottom: 0.25em; text-align: center; border-radius: 0.5em">
                            <strong>
                                 <span style="font-size: 28px; color: #DEAE64;">Related Projects</span>
                             </strong>

                        </div>


                        <ul>

                        {% for project in each_project %}

                            <a href="{{ project.get_absolute_url }}"><li>
                                {{project.title}}
                            </li></a>


                        {% endfor %}
                        </ul>


                        <div  class="pagination primary" style="width:100%; background-color: blue; margin-bottom: 0.25em; color: #DEAE64">
                        <strong  style="margin: auto; color: #DEAE64">
                                <span class="step-links">
                                    {% if each_project.has_previous %}
                                        <a href="?page=1#topProjects">&laquo; first</a>
                                        <a href="?page={{ each_project.previous_page_number }}#topProjects">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ each_project.number }} of {{ each_project.paginator.num_pages }}.
                                    </span>

                                    {% if each_project.has_next %}
                                        <a href="?page={{ each_project.next_page_number }}#topProjects">next</a>
                                        <a href="?page={{ each_project.paginator.num_pages }}#topProjects">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </strong>
                        </div>

                    </div>

                    </div>

                    

                    {% endif %} {% endif %}


                    {% if service %}
                    <div  style="width:100%">
                        <h2 class="mb-3">{{service}}</h2>
                    </div>
                    <div >
                        <p >{{service.service_article | safe}}</p>
                    </div>
                    {% endif %}



                    {% if service %}

                    <div  style="width:100%">
                        <h2 class='service-title'>
                            <strong>Projects In {{service}}</strong>
                            <hr />
                        </h2>

                    </div>

                    <div class="row projects">


                        {% for project in project_list2 %}
                        {% if project.service == service %}

                        <div class="col-sm-6 item ">
                            <div class="row " style="margin-bottom: 1.625em">
                                <div class="col-md-12 col-lg-5 staff" data-bs-hover-animate="pulse">
                                    <a href="{{project.get_absolute_url}}">
                                        <img class="img-fluid" src="{{project.projectimage_set.all.first.image.url}}" />
                                    </a>
                                </div>
                                <div class="col" style="padding-left: 0">
                                    <a href="{{project.get_absolute_url}}" style="color:#000">
                                        <h5 class="name" data-bs-hover-animate="pulse">
                                            <strong>{{project.title}}</strong>
                                        </h5>
                                    </a>

                                    <p class="description" >
                                        {{project.summary}}

                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}


                    </div>
                    {% comment %}
                    <div class="row projects">
                        {% if project_list2 %}
                            {% for project in project_list2 %}
                            {% if project.service == service %}
                                    <div class="col-md-6 item" style="padding: 10px 0 0 10px;
                            border-color: black;
                            border-style: dotted;">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-5">
                                                <a href="{% url 'project-detail' project.id %}">
                                                    <img class="img-fluid" src="{{project.projectimage_set.all.first.image.url}}" />
                                            </div>
                                            <div class="project-text-summary" style="margin-left:10px">
                                                <h3 class="name">{{project.title}}</h3>
                                                </a>
                                                <p class="description">
                                                {{project.summary}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                            {% endfor %}
                            {% endif %}
                </div>


                <div class='accordion'>

                        {% with "#"|addstr:service as targetid %}
                <div  id={{targetid|slice:"1:"}} data-aos="fade-right">
                    {% endwith %}

                    <div class="row projects" style="margin: 15px auto">
                        {% if count_civil_projects %}
                            {% for project in count_civil_projects %}
                                {% if project.service == service%}
                                            <div class="col-md-12 col-lg-5" style="height: 224.5px; max-width: 300px; padding:0; margin:0; border-style:solid; border-color: #deae64e6; border-width: 5px; ">
                                                <a href="{% url 'project-detail' project.id %}" >
                                                    <img class="img-fluid" style='max-height:215px; width: 100%; object-fit: contain' src="{{project.projectimage_set.all.first.image.url}}" />
                                                </a>
                                            </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}


                        {% if count_electrical_projects %}
                            {% for project in count_electrical_projects %}
                                {% if project.service == service%}
                                            <div class="col-md-12 col-lg-5" style="height: 224.5px; max-width: 300px; padding:0; margin:0; border-style:solid; border-color: #deae64e6; border-width: 5px; ">
                                                <a href="{% url 'project-detail' project.id %}" >
                                                    <img class="img-fluid" style='max-height:215px; width: 100%; object-fit: contain' src="{{project.projectimage_set.all.first.image.url}}" />
                                                </a>
                                            </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if count_mgt_projects %}
                            {% for project in count_mgt_projects %}
                                {% if project.service == service%}
                                            <div class="col-md-12 col-lg-5" style="height: 224.5px; max-width: 300px; padding:0; margin:0; border-style:solid; border-color: #deae64e6; border-width: 5px; ">
                                                <a href="{% url 'project-detail' project.id %}" >
                                                    <img class="img-fluid" style='max-height:215px; width: 100%; object-fit: contain' src="{{project.projectimage_set.all.first.image.url}}" />

                                                    <small>{{project.title}}:</strong>{{project.summary}}</small>


                                            </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}


                            <div style="max-height:215px; max-width:550px; margin:5px 0 0 20px;">
                                <h6><strong>{{service}}</strong></h6>
                                <small>
                                <ul>
                                {% for project in count_civil_projects|slice:':4' %}
                                    {% if project.service == service %}

                                    <li>
                                        <a><strong> {{project.title}}:</strong>{{project.summary}}</a>
                                    </li>

                                {% endif %}
                                {% endfor %}

                                {% for project in count_electrical_projects|slice:':4' %}
                                    {% if project.service == service %}

                                    <li>
                                        <a><strong> {{project.title}}:</strong>{{project.summary}}</a>
                                    </li>

                                {% endif %}
                                {% endfor %}

                                {% for project in count_mgt_projects|slice:':4' %}
                                    {% if project.service == service %}

                                    <li>
                                        <a><strong> {{project.title}}:</strong>{{project.summary}}</a>
                                    </li>

                                {% endif %}
                                {% endfor %}
                                </ul>
                                </small>
                            </div>
                </div>

                </div>
                {% endcomment %}





                </div>


                    {% endif %}

                </div>



                {% if project %}
                <div class="col-md-3 project-summary" >
                    <div class="project-summary-list" >
                        <ul>
                            {%if project.client %}
                            <li><strong>Client</strong><br />{{project.client}}</li>
                            {% endif %} {%if project.location %}
                            <li><strong>Location</strong> <br />{{project.location}}</li>
                            {% endif %} {%if project.service %}
                            <li><strong>Service</strong> <br />{{project.service}}</li>
                            {% endif %} {%if project.cost_estimate %}
                            <li><strong>Cost Estimate</strong> <br />{{project.cost_estimate}}</li>
                            {% endif %} {%if project.project_date %}
                            <li><strong>Date</strong> <br />{{project.project_date}} </li>
                            {% endif %}
                        </ul>

                    </div>
                    {% comment %}
                    <div class="h_iframe">
                        <h4>Our Approach</h4>

                        <iframe style="width: 100%; " src="http://www.youtube.com/embed/UnBlst3T7bY" frameborder="0" allowfullscreen></iframe>

                    </div>
                    {% endcomment %}
                </div>


                {% endif %}
            </div>



        </div>
    </div>
</div>






<!--
  <h1>Title: {{ project.title }}</h1> -->

<!--<p><strong>Project:</strong> <a href="">{{ project.title }} </a></p> -->
<!-- author detail link not yet defined -->
<!-- <p><strong>Summary:</strong> {{ project.summary }}</p>
  <p><strong>Client:</strong> {{ project.client }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p> -->
<!--<p><strong>Genre:</strong>
      {% for genre in book.genre.all %}
      {{ genre }}
      {% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>-->
{% endblock %}
