{% extends "base_generic.html" %}

{% load static%}

{% block content %}

<div style="background-color:#ededed;">
    <div></div>
    <div class="project-image" style=
    "background-image:url({%static '/img/home/Home slide.jpg'%});
    margin-top:5em;
    height:480px;
    text-align:center;
    background-size:cover;
    background-repeat:no-repeat;
    align-content:center;
    ">
        <div class="text-box">
            <h1 class="bottom-left" style="font-size: 8vw; margin: 0 0.3em">
                Heading Headin Heading Heading
            </h1>
        </div>
    </div>
    <div class="breadcrum">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a><span>Home</span></a></li>
            <li class="breadcrumb-item"><a><span>Library</span></a></li>
            <li class="breadcrumb-item"><a><span>Data</span></a></li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
    <ol class="col-md-2" style="list-style-type: none; padding: 0; margin:0">
        <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
    </ol>


    <div class="col-md-10 projects-horizontal">

            <div class="intro">
                <h2 class="text-center">Projects</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="desk.jpg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="building.jpg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="loft.jpg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="minibus.jpeg" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
    </div>
</div>
<!--
    <h1>Project List</h1>

    {% if project_list %}
    <ul>

      {% for project in project_list %}
      <li>
        <a href="{{ project.get_absolute_url }}">{{ project.title }}</a> ({{project.client}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no projects right now.</p>
    {% endif %}
-->
{% endblock %}
