/* contact form css*/
.contact-clean {
  background:#f1f7fc;
  padding:80px 0;
}

@media (max-width:767px) {
  .contact-clean {
    padding:20px 0;
  }
}

.contact-clean form {
  max-width:480px;
  width:90%;
  margin:0 auto;
  background-color:#ffffff;
  padding:40px;
  border-radius:4px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

@media (max-width:767px) {
  .contact-clean form {
    padding:30px;
  }
}

.contact-clean h2 {
  margin-top:5px;
  font-weight:bold;
  font-size:28px;
  margin-bottom:36px;
  color:inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom:5px;
}

.contact-clean form .form-control {
  background:#fff;
  border-radius:2px;
  box-shadow:1px 1px 1px rgba(0,0,0,0.05);
  outline:none;
  color:inherit;
  padding-left:12px;
  height:42px;
}

.contact-clean form .form-control:focus {
  border:1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height:100px;
  max-height:260px;
  padding-top:10px;
  resize:vertical;
}

.contact-clean form .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
  outline:none !important;
}

.contact-clean form .btn:hover {
  opacity:1;
}

.contact-clean form .btn:active {
  transform:translateY(1px);
}

/*
.career-img p, .service-images p {
  background-color:rgba(132,125,125,0.8);
  color:rgb(141,198,255);
  text-align:center;
  font-size:1.3em;
  font-weight:500;
  background-size: cover;
}*/

.contact-clean form .btn-primary {
  background-color:#055ada !important;
  margin-top:15px;
  color:#fff;
}

/* Footer */
.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

/* navigation css*/
.navigation-clean {
  background:#fff;
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top:1rem;
    padding-bottom:1rem;
  }
}

.navigation-clean .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation-clean .navbar-brand:hover {
  color:#222;
}

.navigation-clean .navbar-toggler {
  border-color:#ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background:none;
}

.navigation-clean .navbar-toggler {
  color:#888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color:#ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color:#465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:none;
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background:#eee;
  color:inherit;
}

/*project horizontal*/

@media (max-width:767px) {
  .projects-horizontal h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.projects-horizontal .intro {
  /*font-size:1.25em;
  max-width:500px;*/
  margin:0 auto 10px;
  border-top-right-radius:3.125em;
}

.row .projects {
    margin-top: 0.625em;
}

@media (max-width:767px) {
  .projects-horizontal .item {
    padding-top:40px;
    min-height:160px;
  }
}

.projects-horizontal .item .name {
  font-size:1.125em;
  font-weight:bold;
  margin-top:0.625em;
  color:inherit;
}

@media (max-width:991px) {
  .projects-horizontal .item .name {
    margin-top:22px;
  }
}

.projects-horizontal .item .description {
  font-size:15px;
  margin-bottom:0;
}

/* simple slider

.text-primary .bottom-left {
  position:absolute;
  bottom:8px;
  left:16px;
} */

.text-box {
    background-color: rgba(137,146,231,0.6);
  position:absolute;
  width:50%;
  margin-top:18em;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  bottom: 20%;
  z-index: 20;

}


.text-box:before {
  content:'';
  display:inline-block;
  height:100%;
  vertical-align:middle;
}

.bottom-left {
  display:inline-block;
  color: rgba(31, 58, 147, 1);
  font-size: 6vw;
  margin: 0 0.3em;
}


.home-second-row-headings {
  height:4em;
  border-top-right-radius:3.125em;
}

.home-second-row-headings > div {
  flex:1;
}

.home-second-row-headings .text-white {
  align-self:flex-end;
  font-size:24px;
  margin-left:5px;
}

.home-second-row img {
  margin-top:10px;
  width:10px;
}

.home-second-row-col .career-img {
  margin:0.625em;
  width:7.5em;
  height:11em;
  float:left;
}

.home-second-row-col .press-img {
  margin-top:0.625em;
  float:left;
  width:40%;
  margin-right:0.625em;
  clear:both;
}

.home-second-row-col .press-p {
  margin:0.625em auto;
  float:left;
  width:40%;
}

.col-md-4.home-second-row-col {
  margin-top:0.625em;
}

.col-md-4 .home-second-row-col div {
  float:left;
}






/*General*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body, p, h1, h2, h3, a {
    font-family: 'Century Gothic';
}

.navbar, body {
    background-color: rgba(255,255,255);
}

.nav-item-top {
    font-size: 1.563em;
    margin-right: 1.250em;
}

.nav-contact {
    font-size: 1.25em;
}

.container {
    max-width: 85%;
    margin: auto;
    padding: 2.0em 0;
}

a:hover {
    color: #fff;
    text-shadow:
    -1px -1px 0 #DEAE64,
    1px -1px 0 #DEAE64,
    -1px 1px 0 #DEAE64,
    1px 1px 0 #DEAE64;
    cursor: pointer;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #DEAE64;
    border-color: #DEAE64;
}

/* .navbar-nav {
    margin: auto;
}*/


/******** Index Page ********/
.project-summary-snippet {
    padding: 0;
}

.project-summary-snippet h3{
    font-size: 1.2rem;
}


/*Service Snippet*/
.service-snippet {
}

.service-images {
  width:100%;
  margin:auto;
}

.service-images a {
  height:9.375em;
  width:40%;
  margin:auto 0.3em;
  display:inline-block;
  margin-top:0.625em;
}

.service-images div {
  height:9.375em;
  width:auto;
}

.service-images p {
  font-size:1em;
  font-weight: bold;
  text-align: center;
}
/* Project Snippets*/
.projects-snippet img {
    /*margin: 0.625em 0; */
    border-radius: 0.938em;
}

.projects-snippet .projects {
    margin-top: 1.25em;
}

.projects-snippet .projects .row{
    padding: 0.625em 0;
}

.projects-snippet .item {
    border-color: black;
    border-style: solid;
    margin: 0.312em auto;
    border-radius: 0.938em;
}

.projects-snippet h2 {
  font-weight:bold;
  padding-top:0.5em;
}

.projects-snippet .intro {
  font-size:1.25em;
  margin: 0;
}

.projects-snippet p {
  margin: 0;
}

/*Who we are*/
.who-we-are-headings {
    background-image:url({% static '/img/home/image004.jpg'%});
    height:4em;
    border-top-right-radius:3.125em;
}

.who-we-are-headings h2{
    text-align: center;
    position: relative;
    top: 20%;
    color: #DEAE64;
    font-weight: bold;
}

.whoWeAre p {
    margin-top: 0.75em;
}
/*Navigation*/
.logo{
    height: 6em;
}

.navbar-brand {
    /*margin-top: 10px;
    margin-left: 35px;*/
    text-align: right;
}

.navbar-brand small{
    font-size: 65%;
    padding-right: 0.6em;
}

@media only screen and (max-width: 430px){


    .navbar-brand small{
        font-size: 65%;
    }
}

/* Index Page CSS*/
.carousel-image {
    margin-top:10em;
    background-size:cover;
    background-repeat:no-repeat;
}

.carousel {
    padding-top: 6.250em;
}

@media only screen and (max-width: 526px){
    .carousel-image {
      margin-top:13em;
    }
}

/* Staff List Page CSS*/
.project-text-summary {
    padding-left: 0;
}

.projects-horizontal {
    color:#313437;
    /*padding: 1.5em 0;*/
}

.projects-horizontal .item {
  min-height:160px;
}

.main-text {
    /*padding-top: 1.5em;*/
}

.projects-horizontal h2 {
  font-weight:bold;
  color:inherit;
}

.staff img{
    width: 100%;
    height: 12em;
    border-radius: 0.5em;
}

.stafflist {
    width: 75%;
    margin: auto;
}

.home-service-row {
  background-color:rgba(238, 238, 238) !important;
  background-blend-mode:color;
}

.service-title {
    /*background-color: #DEAE64;*/
    padding: 0.215em;
    text-align: left;
    font-size: 1.25em
}


.stafflist .dept-title {
    width: 100%;
    background-color: rgb(222, 174, 100, 0.9);
    padding: .025em 0.625em;
    border-radius: 0.25em;
}

figure a{
    color: #000;
}
/* Detail Page CSS*/
/*main-image*/
.main-image {
  margin-top:6.5em;
  height: 30em;
  background-size:cover;
  background-repeat:no-repeat;
}

.main-title-box {
    background-color: rgba(137,146,231,0.6);
    position: absolute;
    width: 50%;
    margin-top: 18em;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    bottom: 45%;
    left: 25%;
    z-index: 20;
    text-align: center;
}

.main-title {
    display: inline-block;
    color: rgba(31, 58, 147, 1);
    font-size: 60px;
    margin: 0 0.3em;

}

/*Breadcrumbs*/
.breadcrumb {
    margin-bottom: 0;
    background-color: #fff;

}

.breadcrumbs{
    font-size: 3vmin;
}

@media only screen and (max-width: 526px){
    .main-image, .carousel-image {
      margin-top:13em;
    }
}

/*Side Menu*/
.side-menu {
    list-style-type: none;
    margin:0;
    font-size: 3.7vmin;
    color: rgba(31, 58, 147, 1);
}


@media only screen and (max-width: 770px){
    .side-menu {

    }

    .side-menu li {
        display: inline-block;
        margin: 0 10px;

    }

    .side-menu li a {
        margin: 0 5px;
        padding: 0;
    }

    .article {
        margin-top: 12px;
    }
}

.description {
    overflow-wrap: break-word;
    background-color: rgba(238, 238, 238);
}



/* Project Gallery - Light box for Projects */
.lightbox {
    width: 300px;
    height: auto;
    margin: 0.625em 0;


}

.lightbox-row{
    margin: 1.625em 0;
}

/* Third Column - Project Detail Page - Project Summary*/
.project-summary-list ul {
    border-top-left-radius: 1em;
    border-top-right-radius:1em;;
    font-size: 1.15em;
    list-style-type:none;
    padding: 0;
    margin-top: 0.625em;
    background-color: #BDA462;
}


.project-summary {
    margin: 0.625em 0;
    text-align: center;
}

.project-summary img{
    border-radius: 0.938em;
}


.project-summary .h_iframe{
    font-size: 1.15em;
    margin-top: 2.25em;
}








.title-heading h1 {
  word-wrap:break-word;
  padding:0 0.625em;
}

.text-white {
    position: relative;
    top: 20%
}



/* Light box for Projects */
.lightbox {
    width: 300px;
    height: auto;
    margin: 0.625em 0;


}

.lightbox-row{
    margin: 1.625em 0;
}

.modal-dialog {
    max-width: 500px;
}


/*Animated*/
header span.bounce {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 6.25em;
  height: 0.250em;
  width: 0.250em;
  border-radius: 0.125;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

header span::before,
header span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

.fadeOut {
    animation-delay: 4s;
}


.flipInY {
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


/*testing*/
.carousel-item {
    height: 100vh;
}

@media (max-width:767px) {
    .carousel-item {
        height: 0;
    }
}


.carousel-caption {
    padding-bottom: 200px;
}

.carousel-caption h2{
    font-size: 45px;
    text-transform: uppercase;
    color: #3e3c48;
    font-weight: bold;
}
.carousel-caption .box{
    background-color: rgb(222, 174, 100, 0.9);
    border-radius: 0.5em;
}

/*testing shuffle for project page*/
/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.my-shuffle {
  position: relative;
  overflow: hidden;
}


/* Make vertical gutters the same as the horizontal ones */
.image-item {
  margin-bottom: 30px;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

.aspect--9x80 {
  padding-bottom: calc(112.5% + 30px);
}

.aspect--32x9 {
  padding-bottom: calc(28.125% - 8px);
}

.image-item img {
  display: block;
  width: 100%;
  max-width: none;
  height: 100%;
  object-fit: cover;
}


/* Style the active class (and buttons on mouse-over)
.active, .btn:hover {
  background-color: #666;
  color: white;
}
*/

/*animation for pagination on project list page*/
.pagination {
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
